<% if match_counts_by_hero.any? %>
  <%
    all_heroes = match_counts_by_hero.keys
    visible_heroes = all_heroes.take(4)
    hidden_heroes = all_heroes.drop(4)
  %>
  <div class="mb-4">
    <div class="text-bold mb-1">Heroes played:</div>
    <div>
      <% visible_heroes.each do |hero| %>
        <%= render partial: 'seasons/hero_bar',
                   locals: { match_count: match_counts_by_hero[hero], hero: hero,
                             max_hero_match_count: max_hero_match_count,
                             total_matches: total_matches } %>
      <% end %>
    </div>
    <% if hidden_heroes.any? %>
      <button type="button" class="btn-link mt-1 mb-2 js-toggle-details" data-target="#remaining-heroes">
        Toggle remaining heroes
      </button>
      <div id="remaining-heroes" class="d-none">
        <% hidden_heroes.each do |hero| %>
          <%= render partial: 'seasons/hero_bar',
                     locals: { match_count: match_counts_by_hero[hero], hero: hero,
                               max_hero_match_count: max_hero_match_count,
                               total_matches: total_matches } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
