export BNET_APP_ID=your_app_id_here
export BNET_APP_SECRET=your_app_secret_here
export BNET_APP_HOST=your_ngrok_host_here
export RACK_ENV=development
export PORT=3000
export LETS_ENCRYPT_VALUE=""
export DONATE_URL=""
#export AUTH_SITEWIDE_MESSAGE=""
export ALLOW_SIGNUPS=1
export ALLOW_MATCH_LOGGING=1
export APP_REPO_URL=""
