<% if @include_link %><a href="<%= profile_path(@oauth_account) %>" class="d-inline-block"><% end %>
<img src="<%= @oauth_account.avatar_url %>" class="avatar mr-1" width="20">
<% if @include_link %></a><% end %>
