<div class="Box p-3 mb-3-sm settings-box d-flex flex-items-center">
  <span class="<%= icon_class %> ion f1 text-gray"></span>
  <div class="ml-4">
    <a class="h3" href="<%= url %>"><%= title %></a>
    <div><%= description %></div>
  </div>
</div>
