<% content_for(:title, 'Settings') %>

<div class="d-flex-md flex-justify-between-md mb-3">
  <%= settings_box(icon_class: 'ion-link',
                   title: 'Manage Battle.net accounts',
                   url: accounts_path,
                   description: 'Connect your alternate accounts to track their matches.') %>
  <%= settings_box(icon_class: 'ion-eye',
                   title: 'Manage match visibility',
                   url: season_shares_path,
                   description: 'Change whether others can view your matches and season trends.') %>
</div>

<div class="d-flex-md flex-justify-between-md">
  <%= settings_box(icon_class: 'ion-ios-close-outline',
                   title: 'Wipe match history',
                   url: choose_season_to_wipe_path,
                   description: 'Remove matches by season for individual accounts.') %>
</div>

<hr class="my-4 py-4">

<%= link_to 'Delete account', confirm_delete_user_path, class: 'text-gray text-small' %>
