<% content_for(:title, "#{current_user} / Settings") %>

<% content_for(:breadcrumb) do %>
  Settings
<% end %>

<div class="clearfix mb-3">
  <div class="col-md-6 mb-3-sm float-md-left pr-2-md">
    <div class="Box p-3 d-flex flex-items-center">
      <span class="ion-ios-download-outline ion f1 text-gray"></span>
      <div class="ml-4">
        <a class="h3" href="<%= import_path(Match::LATEST_SEASON, current_user) %>">
          Import match history
        </a>
        <div>
          Import competitive matches per season from a file.
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 float-md-left pl-2-md">
    <div class="Box p-3 d-flex flex-items-center">
      <span class="ion-ios-close-outline ion f1 text-gray"></span>
      <div class="ml-4">
        <a class="h3" href="<%= choose_season_to_wipe_path %>">
          Wipe match history
        </a>
        <div>
          Remove matches by season for individual accounts.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 float-md-left pr-2-md">
  <div class="Box p-3 d-flex flex-items-center">
    <span class="ion-link ion f1 text-gray"></span>
    <div class="ml-4">
      <a class="h3" href="<%= accounts_path %>">
        Manage Battle.net accounts
      </a>
      <div>
        Connect your alternate accounts to track their matches.
      </div>
    </div>
  </div>
</div>

