<% content_for(:title, 'Settings') %>

<div class="d-flex-md flex-justify-between-md mb-3">
  <%= settings_box(icon_class: 'ion-link',
                   title: 'Manage Battle.net accounts',
                   url: accounts_path,
                   description: 'Connect your alternate accounts to track their matches.') %>
  <%= settings_box(icon_class: 'ion-eye',
                   title: 'Manage match visibility',
                   url: season_shares_path,
                   description: 'Change whether others can view your match history.') %>
</div>

<div class="d-flex-md flex-justify-between-md">
  <%= settings_box(icon_class: 'ion-ios-download-outline',
                   title: 'Import match history',
                   url: import_path(Season.latest_number, current_user),
                   description: 'Import competitive matches per season from a file.') %>
  <%= settings_box(icon_class: 'ion-ios-close-outline',
                   title: 'Wipe match history',
                   url: choose_season_to_wipe_path,
                   description: 'Remove matches by season for individual accounts.') %>
</div>
