<% if match_counts_by_hero.any? %>
  <%
    all_heroes = match_counts_by_hero.keys
    visible_count = all_heroes.size > 5 ? 4 : 5
    visible_heroes = all_heroes.take(visible_count)
    hidden_heroes = all_heroes.drop(visible_count)
  %>
  <div class="mb-4">
    <h3 class="h3 text-center mb-2">Heroes played</h3>
    <div>
      <% visible_heroes.each do |hero| %>
        <%= hero_bar(hero, match_count: match_counts_by_hero[hero],
                     max_match_count: max_hero_match_count,
                     total_match_count: total_matches) %>
      <% end %>
    </div>
    <% if hidden_heroes.any? %>
      <button type="button" class="btn-link mt-1 mb-2 js-toggle-details" data-target="#remaining-heroes">
        Toggle remaining heroes
      </button>
      <div id="remaining-heroes" class="d-none">
        <% hidden_heroes.each do |hero| %>
          <%= hero_bar(hero, match_count: match_counts_by_hero[hero],
                       max_match_count: max_hero_match_count,
                       total_match_count: total_matches) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
