<ul class="filter-list mr-4">
  <li>
    <a href="#general-charts" class="filter-item selected js-tab" role="tab" aria-current="page">
      General
    </a>
  </li>
  <% if show_group_charts_tab?(matches) %>
    <li>
      <a href="#group-charts" class="filter-item js-tab" role="tab">
        Groups
      </a>
    </li>
  <% end %>
  <% if show_hero_charts_tab?(matches) %>
    <li>
      <a href="#hero-charts" class="filter-item js-tab" role="tab">
        Heroes
      </a>
    </li>
  <% end %>
  <% if show_time_charts_tab?(matches) %>
    <li>
      <a href="#time-charts" class="filter-item js-tab" role="tab">
        Time
      </a>
    </li>
  <% end %>
</ul>
