<h3 class="h3 flex-justify-center d-flex flex-items-center mb-2">
  Throwers/Leavers
  <% if season %>
    <span class="text-gray text-normal h4 d-inline-block ml-2">Season <%= season %></span>
  <% end %>
</h3>
<div class="small-chart-container">
  <canvas class="js-thrower-leaver-chart" data-labels="<%= types.to_json %>" data-allies="<%= allies.to_json %>" data-enemies="<%= enemies.to_json %>"></canvas>
</div>
