<% content_for(:title, 'About') %>

<div class="clearfix">
  <div class="col-md-5 mb-4 float-left">
    <div class="mr-4-md">
      <p>
        I built Competiwatch because I got tired of managing Google Sheets each
        competitive season. I wanted to add a new chart to my usual Google Sheet
        template and it was a pain because that's the nature of spreadsheets.
        Seriously, add a column, add a list of valid values here, set a
        specified column range there, put a graph over there... who's got time for that??
        So of course I built an app that took way more hours but was also way
        more fun to build. :3
      </p>
      <p>
        I also was tired of worrying every time I looked at a past season's
        spreadsheet that I'd click in the wrong place and drag-n-drop data and
        screw it all up.
      </p>
    </div>
  </div>
  <div class="col-md-5 float-left">
    <div class="ml-4-md">
      This app was built using
      <a href="http://rubyonrails.org/">Ruby on Rails</a>,
      <a href="https://primer.github.io/">Primer</a>,
      <a href="https://github.com/plataformatec/devise">Devise</a>,
      <a href="http://www.chartjs.org/">Chart.js</a>,
      <a href="https://github.com/jnunemaker/httparty">HTTParty</a>, and
      <a href="https://github.com/mperham/sidekiq">Sidekiq</a>.
    </div>
  </div>
</div>
