<% content_for(:title, 'App') %>

<div class="col-md-10 mx-auto mb-4">
  <% unless signed_in? %>
    <p class="mb-4">
      <a href="<%= root_path %>">&larr; Back to home page</a>
    </p>
  <% end %>

</div>
