<% content_for(:title, 'Help') %>

<div class="clearfix">
  <div class="col-md-8 float-left">
    <h2 class="h3 mb-2 text-normal">Tutorial video</h2>
    <p>
      Thanks to my buddy Rob for making this video showing how to use
      Competiwatch. &hearts;
    </p>
    <iframe class="d-block" width="560" height="315" src="https://www.youtube.com/embed/_y-MtPEsxDg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-md-4 float-left">
    <h2 class="h3 mb-2 text-normal">Something not working?</h2>
    <p>
      Please
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/cheshire137/competiwatch/issues">open an issue</a> on GitHub
      with details about what isn't working. Steps to reproduce the problem will be
      very helpful!
    </p>
  </div>
</div>
