<h2 class="h2 mb-2">
  General stats
  <span class="text-gray text-normal d-inline-block ml-2 h3">Season <%= season_number %></span>
</h2>
<ul class="list-style-none mb-4">
  <% if overall_win_percent %>
    <li class="mb-1">
      <strong><%= overall_win_percent %>%</strong> of matches won
    </li>
  <% end %>
  <% if thrower_leaver_percent %>
    <li class="mb-1">
      <strong><%= thrower_leaver_percent %>%</strong> of matches had a thrower or leaver
    </li>
  <% end %>
</ul>
