<% if top_heroes.any? %>
  <h2 class="h2 mb-2">
    Most played heroes
    <span class="text-gray text-normal d-inline-block ml-2 h3">Season <%= season_number %></span>
  </h2>
  <div class="mb-4 pb-2 overflow-hidden">
    <%= render partial: 'accounts/heroes_list', locals: { heroes: top_heroes } %>
  </div>
<% end %>
