<% if @hero_win_percentages.any? %>
  <h2 class="h2 mb-2">
    Most winning heroes
    <span class="text-gray text-normal d-inline-block ml-2 h3">Season <%= @season_number %></span>
  </h2>
  <% @visible_heroes.each do |hero| %>
    <%= render partial: 'community/hero',
               locals: { win_percentage: @hero_win_percentages[hero],
                         max_hero_win_percentage: @max_hero_win_percentage,
                         hero: hero } %>
  <% end %>
  <% if @hidden_heroes.any? %>
    <button type="button" class="btn-link mt-1 mb-2 js-toggle-details" data-target="#remaining-heroes">
      Toggle remaining heroes
    </button>
    <div id="remaining-heroes" class="d-none">
      <% @hidden_heroes.each do |hero| %>
        <%= render partial: 'community/hero',
                   locals: { win_percentage: @hero_win_percentages[hero],
                             max_hero_win_percentage: @max_hero_win_percentage,
                             hero: hero } %>
      <% end %>
    </div>
  <% end %>
<% end %>
