<h2 class="h2 mt-4 mb-2">
  Top profile icons
  <span class="text-gray text-normal d-inline-block ml-2 h3">Overall</span>
</h2>

<div class="mb-4 d-flex">
  <% @top_avatar_urls.each do |avatar_url, _account_count| %>
    <%= image_tag avatar_url, class: 'avatar mr-3', size: '50x50' %>
  <% end %>
</div>
