<% content_for(:title, '404 Not Found') %>

<div class="col-md-6 mx-auto text-center">
  <h2 class="h2 text-normal mb-4">The page you were looking for doesn't exist.</h2>
  <h4 class="h4 text-normal">You may have mistyped the address or the page may have moved.</h4>
</div>
