<% content_for(:title, '422 Unprocessable Entity') %>

<div class="col-md-6 mx-auto text-center">
  <h2 class="h2 text-normal mb-4">The change you wanted was rejected.</h2>
  <h4 class="h4 text-normal">Maybe you tried to change something you didn't have access to.</h4>
</div>
