<div class="form-group mt-0">
  <div class="text-bold mb-2 d-flex flex-items-center flex-justify-between">
    <span>Who did you group with?</span>
    <span class="text-small text-gray text-normal">Separate with commas</span>
  </div>
  <div id="friends-list" data-selected-friends=<%= match.friend_names.to_json %> data-friends="<%= friends.to_json %>" class="position-relative border clearfix taggle-container"></div>
</div>
