<div class="form-group">
  <div class="text-bold mb-2">Who did you group with?</div>
  <div id="friends-list" data-selected-friends=<%= match.friend_names.to_json %> data-friends="<%= friends.to_json %>" class="position-relative taggle-container"></div>
  <p class="note">
    Use comma, Tab, or Enter to separate names.
  </p>
</div>
