<% if oauth_account.finished_placements?(season) %>
  <a href="#log-match" class="tabnav-tab js-log-match-tab js-tab">
    <span class="ion hide-sm ion-compose"></span>
    Log a match
  </a>
<% else %>
  <a href="#log-placement-matches" class="tabnav-tab js-tab">
    <span class="ion hide-sm ion-compose"></span>
    Log placement match
  </a>
  <% unless oauth_account.any_placements?(season) %>
    <a href="#log-placement-rank" class="tabnav-tab js-tab">
      <span class="ion hide-sm ion-compose"></span>
      Log placement SR
    </a>
  <% end %>
<% end %>
