<div class="d-flex flex-wrap">
  <div class="form-checkbox mb-1 mt-0 mr-4 mb-1-sm">
    <label class="text-normal">
      <%= form.check_box :potg %>
      Play of the Game
    </label>
  </div>
</div>
