<div class="dropdown js-menu-container d-inline-block">
  <button class="btn-link no-underline text-white p-2 dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
    Season <%= selected_season %>
    <div class="dropdown-caret"></div>
  </button>

  <div class="dropdown-menu-content js-menu-content">
    <ul class="dropdown-menu dropdown-menu-se">
      <% season_options.each do |label, season| %>
        <% unless season == selected_season %>
          <li>
            <a class="dropdown-item" href="<%= url_with(season: season) %>">
              <%= label %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
