<div class="dropdown js-menu-container d-inline-block ml-4">
  <% season_is_public = oauth_account.season_is_public?(season) %>
  <button class="btn-link no-underline text-gray p-0 dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
    <% if season_is_public %>
      <span class="ion ion-eye d-inline-block"></span>
      <span class="text-small">Visible to others</span>
    <% else %>
      <span class="ion ion-locked d-inline-block"></span>
      <span class="text-small">Only visible to you</span>
    <% end %>
    <div class="dropdown-caret"></div>
  </button>
  <div class="dropdown-menu-content js-menu-content">
    <ul class="dropdown-menu season-share-dropdown-menu dropdown-menu-sw">
      <li>
        <% if season_is_public %>
          <%= form_tag season_share_path(season, oauth_account), method: :delete do %>
            <button type="submit" class="dropdown-item btn-link">
              <span class="ion ion-locked mr-1 d-inline-block"></span>
              <span class="text-small">Only let me see</span>
            </button>
          <% end %>
        <% else %>
          <%= form_tag season_share_path(season, oauth_account) do %>
            <button type="submit" class="dropdown-item btn-link">
              <span class="ion ion-eye mr-1 d-inline-block"></span>
              <span class="text-small">Allow others to view</span>
            </button>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
