<nav class="tabnav-tabs d-flex flex-justify-between flex-items-center">
  <div>
    <a href="#match-history" class="tabnav-tab selected js-tab">
      <span class="ion hide-sm ion-ios-list-outline"></span>
      Match history
    </a>
    <% if can_edit && !past_season %>
      <%= render partial: 'matches/log_match_tabs',
                 locals: { oauth_account: oauth_account, season: season } %>
    <% end %>
  </div>

  <% if can_edit && past_season %>
    <%= render partial: 'matches/log_match_tabs',
               locals: { oauth_account: oauth_account, season: season } %>
  <% end %>
</nav>
