<div class="d-flex flex-wrap">
  <div class="form-checkbox mb-1 mt-0 mr-4">
    <label class="text-normal">
      <%= form.check_box :ally_thrower %>
      Thrower on my team
    </label>
  </div>
  <div class="form-checkbox mb-1 mt-0 mr-4">
    <label class="text-normal">
      <%= form.check_box :enemy_thrower %>
      Thrower on the enemy team
    </label>
  </div>
  <div class="form-checkbox mt-0 mr-4">
    <label class="text-normal">
      <%= form.check_box :ally_leaver %>
      Leaver on my team
    </label>
  </div>
  <div class="form-checkbox mt-0">
    <label class="text-normal">
      <%= form.check_box :enemy_leaver %>
      Leaver on the enemy team
    </label>
  </div>
</div>
