<div class="clearfix mb-4">
  <div class="col-6 float-left">
    <div data-url="<%= win_loss_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
  </div>
</div>
<div data-url="<%= wins_by_map_chart_path(@season, @oauth_account) %>" class="mb-4 js-remote-chart"></div>
<div data-url="<%= losses_by_map_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
