<%= form_for(@match) do |f| %>
  <%= render partial: 'matches/form',
             locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                       heroes: @heroes } %>
  <button type="submit" class="btn btn-large btn-primary">
    Save Match
  </button>
<% end %>
