<h2>Log a Match</h2>
<%= form_for(@match) do |f| %>
  <%= render partial: 'matches/form', locals: { form: f, match: @match, maps: @maps } %>
  <button type="submit" class="btn btn-large btn-primary">
    Log Match
  </button>
<% end %>
