<% content_for(:title, "#{@oauth_account} / Choose a season to wipe") %>

<% content_for(:breadcrumb) do %>
  <%= @oauth_account %> / Choose a season to wipe
<% end %>

<p>Choose a competitive season. Nothing will be deleted yet, you will be asked to confirm:</p>

<ul class="list-style-none">
  <% 1.upto(Match::LATEST_SEASON) do |season| %>
    <li>
      <a href="<%= confirm_season_wipe_path(season, @oauth_account) %>">
        Season <%= season %>
      </a>
    </li>
  <% end %>
</ul>
