<% content_for(:title, 'Log In') %>

<div class="col-md-6 text-center mx-auto">
  <div class="mb-4 f3">
    Track your competitive match history per season in Overwatch. View charts of
    your performance, import past seasons, and export your data.
  </div>
  <a class="btn-green h2 btn-large btn" href="<%= user_bnet_omniauth_authorize_path %>">Sign in with Battle.net</a>
</div>
