/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui.css
 *= require jquery-ui.structure.css
 *= require jquery-ui.theme.css
 *= require taggle.css
 */

@import "primer-support/lib/variables/typography.scss";
@import "colors.scss";
@import "primer-support/lib/variables/layout.scss";
@import "primer-support/lib/variables/misc.scss";
@import "primer-support/lib/mixins/typography.scss";
@import "primer-support/lib/mixins/layout.scss";
@import "primer-support/lib/mixins/buttons.scss";
@import "primer-support/lib/mixins/misc.scss";
@import "primer-base/index.scss";
@import "primer-box/index.scss";
@import "primer-breadcrumb/index.scss";
@import "primer-buttons/index.scss";
@import "primer-table-object/index.scss";
@import "primer-forms/index.scss";
@import "primer-layout/index.scss";
@import "primer-navigation/index.scss";
@import "primer-tooltips/index.scss";
@import "primer-truncate/index.scss";
@import "primer-utilities/index.scss";
@import "primer-product/index.scss";
@import "primer-marketing/index.scss";
@import "primer-dropdown/index.scss";
@import "forms.scss";

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border-color: darken($green, 10%);
  background-color: $green;
  color: $white;
}

.dropdown-menu.account-dropdown-menu {
  width: 13em;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-children-container {
  flex: 1 0 auto;
}

.form-select {
  background-image: none;
}

dt {
  font-weight: 700;
}

.main-nav {
  color: #b9b9b9;
}

.container {
  width: 1014px;
}

@supports(position:sticky) {
  .sticky-nav-container {
    margin-top: -8px;
  }

  .sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 8px;
    z-index: 999;
  }
}

@media (max-width: 1085px) {
  .container {
    width: 96%;
  }
}
