/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui.css
 *= require jquery-ui.structure.css
 *= require jquery-ui.theme.css
 *= require taggle.css
 */

@import "primer-support/lib/variables/typography.scss";
@import "colors.scss";
@import "primer-support/lib/variables/layout.scss";
@import "primer-support/lib/variables/misc.scss";
@import "primer-support/lib/mixins/typography.scss";
@import "primer-support/lib/mixins/layout.scss";
@import "primer-support/lib/mixins/buttons.scss";
@import "primer-support/lib/mixins/misc.scss";
@import "primer-base/index.scss";
@import "primer-box/index.scss";
@import "primer-breadcrumb/index.scss";
@import "primer-buttons/index.scss";
@import "primer-table-object/index.scss";
@import "primer-forms/index.scss";
@import "primer-layout/index.scss";
@import "primer-navigation/index.scss";
@import "primer-tooltips/index.scss";
@import "primer-truncate/index.scss";
@import "primer-utilities/index.scss";
@import "primer-product/index.scss";
@import "primer-marketing/index.scss";
@import "primer-dropdown/index.scss";
@import "forms.scss";
@import "carousel.scss";

.UnderlineNav-item.selected {
  border-bottom-color: $pink;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border-color: darken($green, 10%);
  background-color: $green;
  color: $white;
}

.dropdown-menu.account-dropdown-menu {
  width: 13em;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-children-container {
  flex: 1 0 auto;
}

dt {
  font-weight: 700;
}

.main-nav {
  color: #b9b9b9;
}

.container {
  width: 1014px;
}

.dropdown-wide .dropdown-menu {
  width: 360px;
  padding-top: 0;
  padding-bottom: 0;

  .dropdown-column {
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;

    + .dropdown-column {
      border-left: 1px solid #e1e4e8;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.dropdown-menu {
  font-size: 14px;
  font-weight: normal;
}

.dropdown-selectable .dropdown-item {
  padding-left: 28px;

  .dropdown-selected-indicator {
    display: none;
  }

  &.selected {
    color: $blue;
    padding-left: 10px;

    .dropdown-selected-indicator {
      display: inline-block;
      margin-right: 3px;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

@supports(position:sticky) {
  @media (min-width: 768px) {
    .sticky-nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 99;
    }
  }
}

@media (max-width: 1085px) {
  .container {
    width: 96%;
  }
}

.d-inline-block-sm,
.d-block-sm {
  display: none;
}

@media (max-width: 544px) {
  .tab-contents {
    overflow: auto;
  }

  .d-inline-block-sm {
    display: inline-block !important;
  }

  .d-block-sm {
    display: block !important;
  }

  .mb-1-sm {
    margin-bottom: 4px !important;
  }

  .mr-3-sm {
    margin-right: 16px !important;
  }

  .mb-3-sm {
    margin-bottom: 16px !important;
  }

  .mb-4-sm {
    margin-bottom: 24px !important;
  }

  .UnderlineNav {
    display: block;
  }

  .UnderlineNav-body {
    display: inline-block;
    margin-bottom: 0;

    form {
      display: inline-block;
    }
  }

  .UnderlineNav-item {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .d-flex-md {
    display: flex !important;

    &.d-none {
      display: none !important;
    }
  }

  .mr-3-md {
    margin-right: 16px !important;
  }

  .mr-4-md {
    margin-right: 24px !important;
  }

  .pl-2-md {
    padding-left: 8px !important;
  }

  .pr-2-md {
    padding-right: 8px !important;
  }

  .form-select {
    background-image: none;
  }

  .flex-items-center-md {
    align-items: center !important;
  }

  .flex-justify-between-md {
    justify-content: space-between !important;
  }
}
