@import "primer-support/lib/variables/colors.scss";
@import "compass";

/* http://www.colourlovers.com/palette/4272266/The_Sidhe?sAC=1 */
$blue: rgb(61,88,160);
$light-blue: rgb(71,103,188);
$pale-blue: #A6ABEE;
$dark-blue: rgb(39,45,135);
$dry-dark-blue: rgb(33,43,73);
$green: rgb(105,163,42);
$dark-green: rgb(50,78,27);
$light-green: #99D656;
$cream: rgb(253,255,246);
$dark-goldenrod: rgb(168, 134, 0);

$blue-500: $blue;
$text-blue: $blue;
$border-blue: $blue;
$bg-blue: $blue;

$green-500: $green;
$text-green: $green;
$border-green: $green;
$bg-green: $green;

$text-gray-light: #dbdfe4;

// Heroes
$ana: #408fff;
$bastion: #bac1c9;
$brigitte: #ac5b3b;
$doomfist: rgb(224, 78, 52);
$dva: #ffb3f3;
$genji: #8cff9a;
$hanzo: #776931;
$lucio: #2cd13f;
$junkrat: rgb(211, 147, 8);
$mccree: #d44124;
$mei: #009be8;
$mercy: #ffe100;
$moira: rgb(105, 28, 207);
$orisa: #9fbc30;
$pharah: #008ff5;
$reaper: #000000;
$reinhardt: #81736b;
$roadhog: #f9c907;
$soldier76: #fd0d15;
$sombra: #9743ad;
$symmetra: #00ccff;
$torbjorn: #ffc400;
$tracer: #ffb803;
$widowmaker: #95a2ea;
$winston: #414f68;
$zarya: #ea4d98;
$zenyatta: #b7b0a1;

// Maps
$hanamura: #f9e4f8;
$hanamura-dark: #86385c;
$temple-of-anubis: #edc28e;
$temple-of-anubis-dark: #a76c40;
$volskaya-industries: #b0a9d7;
$dorado: #d19267;
$route-66: #ddbf9f;
$route-66-dark: #994e49;
$watchpoint-gibraltar: #c0a6b5;
$watchpoint-gibraltar-dark: #58423f;
$eichenwalde: #a1ad7b;
$eichenwalde-dark: #546857;
$hollywood: #92d8fd;
$hollywood-dark: #c68664;
$junkertown: #f4b531;
$kings-row: #a1bfc5;
$kings-row-dark: #425a5c;
$numbani: #cad298;
$numbani-dark: #566036;
$ilios: #a0eafd;
$ilios-dark: #788bce;
$lijiang-tower: #d3a096;
$nepal: #deeafe;
$nepal-dark: #5a7cc6;
$oasis: #fdf4a6;
$oasis-dark: #b37061;
$horizon-lunar-colony: #c6c5c0;
$horizon-lunar-colony-dark: #3d3939;
$blizzard-world: #2aa6fb;
$rialto: #87d0a4;
$rialto-dark: #789c86;
