@import "compass";

// Heroes
$ana: #408fff;
$bastion: #bac1c9;
$doomfist: rgb(224, 78, 52);
$dva: #ffb3f3;
$genji: #8cff9a;
$hanzo: #776931;
$lucio: #2cd13f;
$junkrat: rgb(211, 147, 8);
$mccree: #d44124;
$mei: #009be8;
$mercy: #ffe100;
$moira: rgb(105, 28, 207);
$orisa: #9fbc30;
$pharah: #008ff5;
$reaper: #000000;
$reinhardt: #81736b;
$roadhog: #f9c907;
$soldier76: #fd0d15;
$sombra: #9743ad;
$symmetra: #00ccff;
$torbjorn: #ffc400;
$tracer: #ffb803;
$widowmaker: #95a2ea;
$winston: #414f68;
$zarya: #ea4d98;
$zenyatta: #b7b0a1;

// Maps
$hanamura1: #F3D7DA;
$hanamura2: #DAF0F8;
$temple-of-anubis1: #FCEFE2;
$temple-of-anubis2: #E8E9F8;
$volskaya-industries1: #E9F0FC;
$volskaya-industries2: #F4E1F2;
$dorado1: #DCDCF4;
$dorado2: #DEF3F9;
$route-661: #D6E2F3;
$route-662: #FDEEE0;
$watchpoint-gibraltar1: #ECE0F6;
$watchpoint-gibraltar2: #F8EEDA;
$eichenwalde1: #E2F5FF;
$eichenwalde2: #E5EDDD;
$hollywood1: #FDF3E1;
$hollywood2: #DAF0F8;
$king-s-row1: #D6F1F3;
$king-s-row2: #FDFAEE;
$numbani1: #EDEFD8;
$numbani2: #ECEBFA;
$ilios1: #CFE1F7;
$ilios2: #EFF1E1;
$lijiang-tower1: #D6EBF5;
$lijiang-tower2: #E8DDEC;
$nepal1: #E5EEFE;
$nepal2: #EEE2EE;
$oasis1: #F6E2E8;
$oasis2: #FFF1E3;

@mixin map-gradient($color1, $color2) {
  background-color: $color1;
  @include filter-gradient($color1, $color2, horizontal);
  @include background-image(linear-gradient(left, $color1 0%,$color2 100%));
}

.text-ana {
  color: $ana;
}

.text-bastion {
  color: darken($bastion, 20%);
}

.text-doomfist {
  color: $doomfist;
}

.text-dva {
  color: darken($dva, 20%);
}

.text-genji {
  color: darken($genji, 30%);
}

.text-hanzo {
  color: $hanzo;
}

.text-junkrat {
  color: $junkrat;
}

.text-lucio {
  color: $lucio;
}

.text-mccree {
  color: $mccree;
}

.text-mei {
  color: $mei;
}

.text-mercy {
  color: darken($mercy, 20%);
}

.text-moira {
  color: $moira;
}

.text-orisa {
  color: $orisa;
}

.text-pharah {
  color: $pharah;
}

.text-reaper {
  color: $reaper;
}

.text-reinhardt {
  color: $reinhardt;
}

.text-roadhog {
  color: $roadhog;
}

.text-soldier76 {
  color: $soldier76;
}

.text-sombra {
  color: $sombra;
}

.text-symmetra {
  color: $symmetra;
}

.text-torbjorn {
  color: darken($torbjorn, 15%);
}

.text-tracer {
  color: $tracer;
}

.text-widowmaker {
  color: $widowmaker;
}

.text-winston {
  color: $winston;
}

.text-zarya {
  color: $zarya;
}

.text-zenyatta {
  color: darken($zenyatta, 20%);
}

.gradient-hanamura {
  @include map-gradient($hanamura1, $hanamura2);
}

.gradient-temple-of-anubis {
  @include map-gradient($temple-of-anubis1, $temple-of-anubis2);
}

.gradient-volskaya-industries {
  @include map-gradient($volskaya-industries1, $volskaya-industries2);
}

.gradient-dorado {
  @include map-gradient($dorado1, $dorado2);
}

.gradient-route-66 {
  @include map-gradient($route-661, $route-662);
}

.gradient-watchpoint-gibraltar {
  @include map-gradient($watchpoint-gibraltar1, $watchpoint-gibraltar2);
}

.gradient-eichenwalde {
  @include map-gradient($eichenwalde1, $eichenwalde2);
}

.gradient-hollywood {
  @include map-gradient($hollywood1, $hollywood2);
}

.gradient-king-s-row {
  @include map-gradient($king-s-row1, $king-s-row2);
}

.gradient-numbani {
  @include map-gradient($numbani1, $numbani2);
}

.gradient-ilios {
  @include map-gradient($ilios1, $ilios2);
}

.gradient-lijiang-tower {
  @include map-gradient($lijiang-tower1, $lijiang-tower2);
}

.gradient-nepal {
  @include map-gradient($nepal1, $nepal2);
}

.gradient-oasis {
  @include map-gradient($oasis1, $oasis2);
}

.background-hanamura {
  background-color: darken($hanamura1, 10%);
}

.background-temple-of-anubis {
  background-color: darken($temple-of-anubis1, 10%);
}

.background-volskaya-industries {
  background-color: darken($volskaya-industries1, 10%);
}

.background-dorado {
  background-color: darken($dorado1, 10%);
}

.background-route-66 {
  background-color: darken($route-661, 10%);
}

.background-watchpoint-gibraltar {
  background-color: darken($watchpoint-gibraltar1, 10%);
}

.background-eichenwalde {
  background-color: darken($eichenwalde1, 10%);
}

.background-hollywood {
  background-color: darken($hollywood1, 10%);
}

.background-king-s-row {
  background-color: darken($king-s-row1, 10%);
}

.background-numbani {
  background-color: darken($numbani1, 10%);
}

.background-ilios {
  background-color: darken($ilios1, 10%);
}

.background-lijiang-tower {
  background-color: darken($lijiang-tower1, 10%);
}

.background-nepal {
  background-color: darken($nepal1, 10%);
}

.background-oasis {
  background-color: darken($oasis1, 10%);
}
