@import "colors.scss";

@mixin btn-solid($color, $bg) {
  color: $color;
  background-color: $bg;
  background-image: none;

  &:hover,
  &:focus {
    background-color: darken($bg, 7.5%);
    background-image: none;
  }
}

.form-control.focus,
.form-control:focus,
.form-select.focus,
.form-select:focus {
  border-color: $light-blue;
  box-shadow: inset 0 1px 2px rgba(87,114,185, 0.075), 0 0 0 0.2em rgba(71,106,199, 0.3);
}

.btn-primary {
  @include btn-solid($text-white, $green);
}

.form-group textarea.form-control {
  min-height: 0;
  height: 3em;
}

.btn-link:disabled:hover {
  text-decoration: none;
}

a,
.btn-link {
  color: $light-blue;
}
