.form-hero-checkbox {
  width: 33%;
}

.hero-portrait-container {
  height: 20px;
}

.match-cell.heroes-cell {
  padding-bottom: 0;
}

.form-group .season-field.form-control {
  width: 4em;
}

.form-group .time-field.form-control {
  width: 19em;
}

.form-group .sr-field.form-control {
  width: 4.5em;
  padding: 10px 15px;
  font-size: 26px;
  line-height: 1;
}

.sr-field-label {
  font-size: 20px;
}

.match-cell,
.match-header {
  border: 1px solid #000;
  padding: 0.3em 0.6em;
}

.match-cell {
  text-align: center;
}

.match-header {
  background-color: #bed6ed;
}

.match-placement-row .match-cell {
  background-color: #9dc3e3;
}

.match-placement-row .match-cell.rank-cell {
  background-color: #fed86e;
}

.rank-cell.worse-than-placement,
.result-loss.result-cell {
  background-color: #fc0d1b;
}

.rank-cell.better-than-placement,
.result-win.result-cell {
  background-color: #a9cf90;
}

.result-draw.result-cell {
  background-color: #fed86e;
}

.match-number-cell,
.match-placement-row .match-number-cell.match-cell {
  background-color: #d0cece;
}

.streak-empty {
  background-color: #ddd;
}
