.rank-image {
  position: relative;
}

.rank-bronze {
  top: -11px;
  height: 15px;
}

.rank-silver {
  top: -8px;
  height: 18px;
}

.rank-gold {
  height: 22px;
  top: -4px;
}

.rank-platinum {
  height: 23px;
  top: -3px;
}

.rank-diamond {
  height: 22px;
  top: -3px;
}

.rank-master {
  height: 23px;
  top: -1px;
}

.rank-grandmaster {
  height: 26px;
}

.account-box {
  min-width: 25%;
}

.hero-bar {
  height: 20px;
  box-shadow: rgba(0,0,0,0.1) -2px -2px 0 0 inset;
}

.hero-name {
  width: 8em;
}

.hero-bar-container {
  width: 270px;
}
