.chart-container {
  height: 300px;
}

.tall-chart-container {
  height: 350px;
}

.small-chart-container {
  height: 200px;
}

.medium-chart-container {
  height: 250px;
}

.group-members-bar {
  height: 20px;
  box-shadow: rgba(0,0,0,0.1) -2px -2px 0 0 inset;
}

.group-members-label {
  width: 17.5em;
}

.group-win-rate-label {
  width: 5em;
}
