<% content_for(:title, 'User Admin') %>

<% if @user_options.size > 1 %>
  <div class="border border-red ml-4-md p-3 rounded-2">
    <h2 class="h2 mb-2">Merge users</h2>
    <%= form_tag admin_merge_users_path do %>
      <div class="form-group mt-0">
        <label for="primary_user_id">Primary user:</label>
        <%= select_tag :primary_user_id, options_for_select(@user_options), class: 'form-select', required: true %>
        <p class="note">
          This user will be kept.
        </p>
      </div>
      <div class="form-group">
        <label for="secondary_user_id">Secondary user:</label>
        <%= select_tag :secondary_user_id, options_for_select(@user_options), class: 'form-select', required: true %>
        <p class="note">
          This user will be deleted.
        </p>
      </div>
      <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to combine these users?">
        Combine users
      </button>
    <% end %>
  </div>
<% end %>
