<% if alert.present? %>
  <p class="p-3 mt-4 rounded-2 flash-error"><%= alert %></p>
<% end %>
<% if flash[:error].present? %>
  <p class="p-3 mt-4 rounded-2 flash-error"><%= flash[:error] %></p>
<% end %>
<% if notice.present? %>
  <p class="p-3 mt-4 rounded-2 flash-success"><%= notice %></p>
<% end %>
