<footer class="my-4 border-top text-small text-gray py-4">
  <div class="container pt-4 text-center">
    Built by Sarah
    <span class="d-inline-block mx-4">&middot;</span>
    <a href="<%= app_path %>">Get the app</a>
    <span class="d-inline-block mx-4">&middot;</span>
    <a href="<%= about_path %>">About</a>
    <span class="d-inline-block mx-4">&middot;</span>
    <a href="<%= help_path %>">Help</a>
    <% if show_admin_controls? %>
      <span class="d-inline-block mx-4">&middot;</span>
      <a href="<%= admin_path %>">Admin</a>
    <% end %>
  </div>
</footer>
