<div class="bg-blue box-shadow text-gray-light main-nav">
  <div class="container">
    <div class="d-flex py-3 flex-justify-between flex-items-center">
      <div class="d-flex flex-items-center">
        <h1 class="h1">
          <a class="text-white no-underline" href="<%= root_path %>">Competiwatch</a>
          <% if content_for?(:breadcrumb) %>
            <span class="text-normal h4">
              / <%= yield :breadcrumb %>
            </span>
          <% end %>
        </h1>
      </div>
      <% if signed_in? %>
        <div>
          <span class="d-inline-block mr-4">
            Signed in as <span class="text-bold"><%= current_user %></span>
          </span>
          <a class="text-white" href="<%= settings_path %>">Settings</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
